<% include ../../../partials/header.ejs %>

<div class="container">
    <h2>Send Flash Message</h2>

    <div class="list-group text-center">
        <a href="/exx/flash-message?type=errors" class="list-group-item"><span class="text-danger">This is an example <strong>errors</strong> flash message</span></a>
        <a href="/exx/flash-message?type=info" class="list-group-item"><span class="text-info">This is an example <strong>info</strong> flash message</span></a>
        <a href="/exx/flash-message?type=warning" class="list-group-item"><span class="text-warning">This is an example <strong>warning</strong> flash message</span></a>
        <a href="/exx/flash-message?type=success" class="list-group-item"><span class="text-success">This is an example <strong>success</strong> flash message</span></a>
    </div>

</div>

<% include ../../../partials/footer.ejs %>
