<nav class="topbar-nav">
    <div class="container">
        <ul class="metismenu" id="top-menu">
            <li>
                <a class="<% if (req.path === '/') { %>select<% } %>" href="/" ><span class="fas fa-home"></span> Home</a>
            </li>
            <li>
                <a href="https://devcenter.heroku.com/articles/how-heroku-works" target="_blank"><span class="fas fa-user"></span> How Heroku Works</a>
            </li>
            <li>
                <a class="has-arrow <% if (req.controller === 'exx') { %>select<% } %>" href="#" aria-expanded="false"><span class="fas fa-check-circle"></span> Getting Started</a>
                <ul aria-expanded="false" class="collapse">
                    <li>
                        <a class="has-arrow" href="#" aria-expanded="false"><span class="fas fa-server"></span> Server Actions</a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="/exx/cool">Show Cool Ascii Faces</a></li>
                            <li><a href="/exx/times">Show Times</a></li>
                            <li><a href="/exx/flash-message">Send Flash Message</a></li>
                            <li><a href="/exx/db-messages">Get messages from MongoDB</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="#" aria-expanded="false"><span class="fas fa-laptop"></span> Client Actions</a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="/exx/client-comp">Create Client Component</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="https://devcenter.heroku.com" target="_blank"><span class="fas fa-book"></span> Heroku Dev Center</a>
            </li>
        </ul>
    </div>
</nav>
