# Node build artifacts
node_modules
npm-debug.log

# Local development
.env
.dev
.DS_Store
.idea
package-lock.json
yarn.lock
pnpm-lock.yaml

# Docker
Dockerfile
docker-compose.yml

# Data
data/db/*
!data/db/README.md
data/log/*
!data/log/README.md

# Public
public/dist/main.*
public/dist/polyfills.*
