<% include ../../../partials/header.ejs %>

<div class="container">
    <h2>Database Results</h2>

    <ul class="nav">
        <% results.forEach(function(r) { %>
        <li>{ _id: <%= r._id %>; counter: <%= r.counter %>; message: <%= r.message %> }</li>
        <% }); %>
    </ul>
</div>

<% include ../../../partials/footer.ejs %>
