<% include ../partials/header.ejs %>

<div class="jumbotron text-center">
    <div class="container">
        <img src="/img/technical_work.jpg" alt="Technical work" style="width: 420px; height: 336px">
        <h1 class="">The site under maintenance</h1>
        <h2 class="">We apologize for the temporary inconvenience</h2>
        <h2 class="">Check back later</h2>
        <h2 class="">Administration</h2>
    </div>
</div>

<% include ../partials/footer.ejs %>
